
.cards.arrow-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.cards.arrow-icon > div {
    display: flex;
    flex-direction: column;
    padding: 40px;
    min-height: 346px;

    border-right: 1.5px solid #d8d8d8;
    border-bottom: 1.5px solid #d8d8d8;
}

/* Content first */
.cards.arrow-icon > div > div:last-child {
    order: 1;
}

/* Image last */
.cards.arrow-icon > div > div:first-child {
    order: 2;
    margin-top: auto;
}

.cards.arrow-icon picture {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cards.arrow-icon img {
    display: block;
    width: 100%;
    max-width: 650px;
    height: auto;
}

.cards.arrow-icon h2 {
    font-family: roboto, sans-serif;
    /* margin: 0 0 12px; */
    font-size: 2.2rem;
    padding: 0px 0px 0px 113px;
    /* font-weight: 500; */
}

.cards.arrow-icon p {
    margin: 0;
}

.cards.arrow-icon p a {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    color: #000 !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.cards.arrow-icon .cta-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

@media (max-width:768px){

    .cards.arrow-icon{
        grid-template-columns:1fr;
    }

}
p a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.arrow-wrapper {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

.arrow {
  position: absolute;
  inset: 0;
  width: 18px;
  height: 18px;
  transition: transform .3s ease;
}

.arrow-current {
  transform: translateX(0);
}

.arrow-next {
  transform: translateX(-22px);
}

p a:hover .arrow-current {
  transform: translateX(22px);
}

p a:hover .arrow-next {
  transform: translateX(0);
}