/* ===========================
   Header
=========================== */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:17.6rem;
  max-width: 1600px;
  margin: 2px 0px 5px 36px !important;
  margin: 8px auto;
  /* padding: 6px 36px 11px; */

  background: #fff;
}

/* ===========================
   Logo
=========================== */
/* header nav .nav-brand img {
    width: 115px;
    height: auto;
} */

.header-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-logo p {
  margin: 0;
}

.header-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}


header nav .nav-brand img {
    width: 113px;
    height: auto;
}

/* ===========================
   Right Section
=========================== */

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
 gap:1rem;
  flex: 1;
     margin: 3px 0px 0px 80px;
}

/* ===========================
   Navigation
=========================== */

.header-nav {
  display: flex;
  align-items: center;
  gap: 23px;
  flex-wrap: nowrap;
}

.header-nav p {
    font-family: roboto, sans-serif;
     margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 500;
}
.header-nav p:hover {
    color:grey;
    cursor: pointer;
}


.header-nav a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.header-nav a:hover {
  opacity: .7;
}

/* ===========================
   Actions
=========================== */

.header-actions {
  display: flex;
  align-items: center;
  gap: 9px;
  flex-shrink: 0;
  
}

.header-actions p {
  margin: 0;
}

.header-actions a {
  display: flex;
  align-items: center;
  justify-content: center;
  width:1.5rem;
}

.header-actions img {
  width: 18px;
  height: 18px;
  display: block;
}

.header-actions a:hover {
  opacity: .7;
}

/* ===========================
   Responsive
=========================== */

@media (max-width: 991px) {

  .header {
    padding: 18px 24px;
  }

  .header-nav {
    display: none;
  }

  .header-right {
    justify-content: flex-end;
  }
}